<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.weclass">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeClass">
        <activity
            android:name=".login.UserAccount"
            android:exported="false" />
        <activity
            android:name=".studentlist.profile.exams.Exams"
            android:exported="false" />
        <activity
            android:name=".studentlist.profile.projects.Projects"
            android:exported="false" />
        <activity
            android:name=".login.PasswordResetLinkSuceed"
            android:exported="false" />
        <activity
            android:name=".login.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".login.RegisterAccountActivity"
            android:exported="false"
            android:theme="@style/Theme.Dialog" />
        <activity
            android:name=".archive.Archive"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".studentlist.profile.attendance.Absent"
            android:exported="false" />
        <activity
            android:name=".studentlist.profile.attendance.Present"
            android:exported="false" />
        <activity
            android:name=".studentlist.profile.seatwork.SeatWork"
            android:exported="false" />
        <activity
            android:name=".studentlist.profile.quiz.Quiz"
            android:exported="false" />
        <activity
            android:name=".studentlist.profile.assignments.Assignments"
            android:exported="false" />
        <activity
            android:name=".studentlist.profile.activities.Activities"
            android:exported="false" />
        <activity
            android:name=".AboutUs"
            android:exported="false" />
        <activity
            android:name=".taskGrade.TaskGrade"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".tasks.EditTask"
            android:exported="false"
            android:theme="@style/Theme.Dialog" />
        <activity
            android:name=".tasks.AddTask"
            android:exported="false"
            android:parentActivityName=".BottomNavi"
            android:theme="@style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".studentlist.EditStudent"
            android:exported="false"
            android:theme="@style/Theme.Dialog" />
        <activity
            android:name=".TermsAndCondition"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Custom" />
        <activity
            android:name=".schedule.EventEditActivity"
            android:exported="false"
            android:theme="@style/Theme.Dialog" />
        <activity
            android:name=".studentlist.AddStudent"
            android:exported="false"
            android:theme="@style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".subject.EditSubjectActivity"
            android:exported="false"
            android:parentActivityName=".subject.Subject"
            android:theme="@style/Theme.Dialog" />
        <activity
            android:name=".subject.AddSubjectActivity"
            android:exported="false"
            android:label="Add Subject"
            android:parentActivityName=".subject.Subject"
            android:theme="@style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".studentlist.StudentProfile"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".schedule.ScheduleActivity"
            android:exported="false"
            android:parentActivityName=".schedule.WeekViewActivity" />
        <activity
            android:name=".BottomNavi"
            android:exported="false"
            android:parentActivityName=".subject.Subject"
            android:theme="@style/Theme.Dialog"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".subject.Subject"
            android:exported="false"
            android:theme="@style/Theme.Dialog"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".schedule.WeekViewActivity"
            android:exported="false" />
        <activity
            android:name=".dashboard.MainActivity"
            android:exported="true"
            android:parentActivityName=".login.LoginActivity" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>